.header {
  display: flex;
  align-items: center;
  gap: 50px;
  justify-content: center;
  height: 100px;
  background-color: #9f79ee;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}
.link {
  color: black;
  text-decoration: none;
  font-weight: 400;
  font-size: 40px;
  &:hover {
    color: white;
  }
}

/* .link.active {
  color: white;
  text-decoration: underline;
} */
