/* .movieList {
  display: flex;
  flex-wrap: nowrap;
  width: auto;
}
.posterMovie {
  width: 150px;
  height: 225px;
} */
.movieList {
  text-decoration: none;
  display: flex;
  flex-wrap: nowrap;
  /* width: auto; */
  position: relative;
  display: flex;
  justify-content: flex-start;
  gap:5px;
  /* width: 90.5%; */
  /* margin-left: 50px; */

  overflow-y: auto;
  padding: 5px;
}
.posterMovie {
  border-radius: 10px;
  width: 145px;
  height: 225px;
}
.link {
  text-decoration: none;
  color: black;
}
.movieItem {
  position: relative;
  height: min-content;
  width: min-content;
}
